.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 60rem;
  justify-content: center; 
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.backgroundBox {
  width: 21rem;
  height: 17rem;
  background: #292C34;
  padding: 1em;
  text-align: left;
  border-radius: 1.5rem;

  & h3 {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 700;
  color: #E2E4E9;
  padding: .5rem .5rem;
 }

 & h4 {
  font-size: 0.85rem;
  line-height: 140%;
  font-weight: 400;
  color: #C0C4Ce;
  padding: .5rem .5rem;
 }
}

.imgProject {
  width: 19.125rem;
  height: 9.75rem;
  border-radius: .5rem;
}

@media (max-width: 767px) {
  .projects {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .backgroundBox {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .imgProject {
    width: 100%;
    height: auto;
  }
}
