.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 4rem;
  margin-top: 15rem;
}


h1 {
  margin-bottom: 4rem;
}

@media (max-width: 767px) {
  .container > img {
  margin-top: 8;
}
}