.container {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/Background_Contacts.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: 3rem;

  & h5 {
   font-size: 1.25rem;
   line-height: 120%;
   font-weight: 400;
   color: #bb72e9;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsBox {
  width: 25rem;
  height: 4.25rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  gap: 0.75rem;  
  background: #292C34;
  margin: .4rem auto;
  img {
  width: 1.75rem;
  height: 1.75rem;
  }
}

.links {
 display: flex;
 align-items: center;
 gap: .5rem;
 color: #C0C4CE;
 font-size: 16px;
}

a {
  all: unset;
  cursor: pointer;
}

.contactText {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.contactTitle {
  margin-top: 0;
  margin-bottom: 2rem;
}